#page {
    padding-top: 60px;
    padding-bottom: 30px;
}

#main-search:focus{
	width:120%;
}

.select2-container{
	margin-bottom: 10px !important;
}

.toggle-button{
	margin-bottom: 10px !important;	
}